<div>
  <h4 class="mb-4 text-muted">Plan a QA metric</h4>
  <div class="row">
    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Select an activity</h5>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="toggleCes()"> CES
          </button>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="toggleCss()"> CSS
          </button>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="toggleaudit()">
            AUDITS </button>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="togglepgcrr()">
            Pass Gate </button>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="togglepdri()"> PDRI
          </button>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" label="Click" (click)="togglev()"> V+/S+
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-container *ngIf="showces">
  <div class="row">
    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Plan CES </h5>
        </div>
        <div class="card-body">
          <form #cesForm="ngForm" (ngSubmit)="onSubmitCES(cesForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="cesService.selectedCes._id">
            <div class="form-group row">
              <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
              <div class="col-sm-4">
                <select class="form-control rounded-0" id="project" #name="ngModel"
                  [(ngModel)]="cesService.selectedCes.p_name" name="p_name" required>
                  <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="plandate" class="col-sm-2 col-form-label date-nowrap">Plan date</label>
              <div class="col-sm-2">
                <input type="date" class="form-control rounded-0" id="plandate" aria-describedby="emailHelp"
                  placeholder="Date" [(ngModel)]="cesService.selectedCes.plan_date" name="plan_date" #name="ngModel"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10 mb-3">
                <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showcss">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Plan CSS </h5>
          </div>
          <div class="card-body">
            <form #cssForm="ngForm" (ngSubmit)="onSubmitCSS(cssForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="cssService.selectedCss._id">
              <div class="form-group row">
                <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="project" #name="ngModel"
                    [(ngModel)]="cssService.selectedCss.p_name" name="p_name">
                    <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="plandate" class="col-sm-2 col-form-label date-nowrap">Plan date</label>
                <div class="col-sm-2">
                  <input type="date" class="form-control rounded-0" id="plandate" aria-describedby="emailHelp"
                    placeholder="Date" [(ngModel)]="cssService.selectedCss.plan_date" name="plan_date" #name="ngModel">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-10 ">
                  <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="showaudit">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Plan an audit </h5>
          </div>
          <div class="card-body">
            <form #auditForm="ngForm" (ngSubmit)="onSubmitAUDIT(auditForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="auditService.selectedAudit._id">
              <div class="form-group row">
                <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="project" [(ngModel)]="auditService.selectedAudit.p_name"
                    #name="ngModel" name="p_name">
                    <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="audittype" class="col-sm-2 col-form-label text-nowrap">Audit type</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="audittype" name="audit_type" #name="ngModel"
                    [(ngModel)]="auditService.selectedAudit.audit_type">
                    <option *ngFor="let type of types">{{type}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="auditname" class="col-sm-2 col-form-label text-nowrap">Audit name</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="auditname" name="audit_name" #name="ngModel"
                    [(ngModel)]="auditService.selectedAudit.audit_name">
                    <option *ngFor="let a of auditname">{{a}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="discipline" class="col-sm-2 col-form-label text-nowrap">Discipline</label>
                <div class="col-sm-4">

                  <input type="text" class="form-control rounded-0" id="discipline" aria-describedby="emailHelp"
                    placeholder="Discipline" name="discipline" #name="ngModel"
                    [(ngModel)]="auditService.selectedAudit.discipline">
                </div>
              </div>
              <div class="form-group row">
                <label for="plandate" class="col-sm-2 col-form-label date-nowrap">Plan date</label>
                <div class="col-sm-2">
                  <input type="date" class="form-control rounded-0" id="plandate" aria-describedby="emailHelp"
                    placeholder="Date" name="plan_date" #name="ngModel"
                    [(ngModel)]="auditService.selectedAudit.plan_date">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-10 ">
                  <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="showpdri">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Plan PDRI </h5>
          </div>
          <div class="card-body">
            <form #pdriform="ngForm" (ngSubmit)="onSubmitPDRI(pdriform)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="pdriService.selectedPdri._id">
              <div class="form-group row">
                <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="project" name="p_name" #name="ngModel"
                    [(ngModel)]="pdriService.selectedPdri.p_name">
                    <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="typepdri" class="col-sm-2 col-form-label text-nowrap">Type</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="typepdri" name="type" #name="ngModel"
                    [(ngModel)]="pdriService.selectedPdri.type">
                    <option *ngFor="let l of typepdri">{{l}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="plandate" class="col-sm-2 col-form-label date-nowrap">Plan date</label>
                <div class="col-sm-2">
                  <input type="date" class="form-control rounded-0" id="plandate" aria-describedby="emailHelp"
                    placeholder="Date" name="plan_date" #name="ngModel"
                    [(ngModel)]="pdriService.selectedPdri.plan_date">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-10 ">
                  <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>




<ng-container *ngIf="showpgcrr">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Plan PG & CRR </h5>
          </div>
          <div class="card-body">
            <form #pgcrrform="ngForm" (ngSubmit)="onSubmitPGCRR(pgcrrform)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="pgcrrService.selectedPgcrr._id">
              <div class="form-group row">
                <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="project" name="p_name" #name="ngModel"
                    [(ngModel)]="pgcrrService.selectedPgcrr.p_name">
                    <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="typepg" class="col-sm-2 col-form-label text-nowrap">Type</label>
                <div class="col-sm-4">
                  <select class="form-control rounded-0" id="typepg" name="type" #name="ngModel"
                    [(ngModel)]="pgcrrService.selectedPgcrr.type">
                    <option *ngFor="let l of typepg">{{l}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="plandate" class="col-sm-2 col-form-label date-nowrap">Plan date</label>
                <div class="col-sm-2">
                  <input type="date" class="form-control rounded-0" id="plandate" aria-describedby="emailHelp"
                    placeholder="Date" name="plan_date" #name="ngModel"
                    [(ngModel)]="pgcrrService.selectedPgcrr.plan_date">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 ">
                  <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>





<ng-container *ngIf="showv">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Plan Value plus & Sustainability plus </h5>
          </div>

          <div class="card-body">
            
            <form #vsform="ngForm" (ngSubmit)="onSubmitVS(vsform)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="VSService.selectedVS._id">
              
                <div class="form-group row">
                  <label for="project" class="col-sm-2 col-form-label text-nowrap">Project name</label>
                  <div class="col-sm-4">
                    <select class="form-control rounded-0" id="project" name="p_name" #name="ngModel"
                      [(ngModel)]="VSService.selectedVS.p_name">
                      <option *ngFor="let proj of projectService.projects">{{proj.p_name}}</option>
                    </select>
                  </div>
                </div>
                
                <h6>Value plus (MMAD) : </h6>
                <div></div>
              
              <div class="form-group row">
                <label for="target" class="col-sm-2 col-form-label text-nowrap">Target</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control rounded-0" id="target_v" aria-describedby="emailHelp"
                    placeholder="" name="target_v" #name="ngModel" [(ngModel)]="VSService.selectedVS.target_v">
                </div>
              </div>


              
                <h6>Sustainability plus (tCO2e) :</h6>
              <div></div>

              <div class="form-group row">
                <label for="target" class="col-sm-2 col-form-label text-nowrap">Target</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control rounded-0" id="target_s" aria-describedby="emailHelp"
                    placeholder="" name="target_s" #name="ngModel" [(ngModel)]="VSService.selectedVS.target_s">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 ">
                  <button type="submit" class="btn btn-lightning " style="margin:auto;display:block;">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>


