<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Client Expectation Survey</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Planned date</th>
                  <th>Forcasted date</th>
                  <th>Date conducted</th>
                  <th>Date Issued</th>
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Client Satisfaction Survey</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Planned date</th>
                  <th>Forcasted date</th>
                  <th>Date conducted</th>
                  <th>Date Issued</th>
                  <th>Raised PIN</th>
                  <th>Score</th>
                  
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Pass Gate</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Planned date</th>
                  <th>Forcasted date</th>
                  <th>Date conducted</th>
                  <th>Gate Keeper</th>
                  <th>Date issued</th>
                  <th>Pass Gate type
                  </th>
                  <th>Raised PIN</th>
                  <th>Score</th>
                  <th>Show stopper</th>
                  <th>Result</th>
                  <th>Raised PINs</th>
                  
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                  <th></th>
                  <th></th>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>


<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Audits</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Planned date</th>
                  <th>Forcasted date</th>
                  <th>Date conducted</th>
                  <th>Auditor</th>
                  <th>Audit type</th>
                  <th>Audit name</th>
                  <th>Raised PIN</th>
                  <th>Score</th>
                  
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>PDRI</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Planned date</th>
                  <th>Forcasted date</th>
                  <th>Date conducted</th>
                  <th>PDRI Type</th>
                  <th>Raised PIN</th>
                  <th>Score</th>
                  
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Value +/Sustainability+ Ideas </h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>Project v+ Target</th>
                  <th>Project s+ Target</th>
                  <th>Originator</th>
                  <th>Date submitted</th>
                  <th>Title /Description</th>
                  
                  <th>Total submitted saving</th>
                  <th>months</th>
                  <th>PM approved saving</th>
                  <th>Date PM Approved</th>
                  <th>client approved saving</th>
                  <th>Date client Approved</th>
                  <th>S+ client Approved Saving</th>
                  
                  <th>Report</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>


<div class="row">

  <div class="col-md-12 mb-4">

    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>PINs</h5>
      </div>
      <div class="card-body">
        <div class="example-header">
          <div>
          <input type="text" class="form-control rounded-0" placeholder="Search" />
        </div>
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project name</th>
                  <th>Project Manager</th>
                  <th>#Closed PIN</th>
                  <th>#Open PIN</th>
                  <th>#Cancel PIN</th>
                  <th>Average delay of open PIN</th>
                  <th>Mean time to close a PIN</th>
                  <th>Comments (if AOD >=120 days)</th>
                  <th>See PINs</th>
                </tr>
              </thead>
              <tbody>

                <tr  >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>

                  </td>
<td></td>                  
                  <td >
                    
                  </td>
                </tr> 
              </tbody>
              
              <pagination-controls class="my-pagination" (pageChange)="p=$event" ></pagination-controls>
            
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>